<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootbox" version="4.2.0" targetFramework="win" />
  <package id="bootstrap" version="3.2.0" targetFramework="win" />
  <package id="jQuery" version="2.1.1" targetFramework="win" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="win" />
  <package id="knockoutjs" version="3.1.0" targetFramework="win" />
  <package id="Moment.js" version="2.7.0" targetFramework="win" />
</packages>